<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--配置来自于mybatis 配置官网:http://www.mybatis.org/mybatis-3/zh/configuration.html#settings -->

<configuration>
    <settings>
        <!--jdbc自动生成主键 -->
        <setting name="useGeneratedKeys" value="true"/>
        <!--驼峰命名转换:即从经典数据库列名 A_COLUMN 到经典 Java 属性名 aColumn 的类似映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!--使用列标签代替列名 -->
        <setting name="useColumnLabel" value="true"/>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="logPrefix" value="dao."/>

        <!-- 打开延迟加载的开关 -->
        <setting name="lazyLoadingEnabled" value="false"/>
        <!-- 将积极加载改为消息加载即按需加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <!--mybatis 分页插件 -->
    <!--<plugins> -->
    <!--<plugin interceptor="cn.bdqn.mybatis.plugin.PaginationInterceptor"> -->
    <!--<property name="dialectClass" value="cn.bdqn.mybatis.plugin.MySQLDialect"/> -->
    <!--</plugin> -->
    <!--</plugins> -->
    <!--<plugins>-->
    <!--&lt;!&ndash; com.github.pagehelper为PageHelper类所在包名 &ndash;&gt;-->
    <!--<plugin interceptor="com.github.pagehelper.PageInterceptor">-->
    <!--&lt;!&ndash; 使用下面的方式配置参数，后面会有所有的参数介绍 &ndash;&gt;-->
    <!--<property name="supportMethodsArguments" value="true"/>-->
    <!--<property name="params" value="pageNum=pageNum;pageSize=pageSize;"/>-->
    <!--</plugin>-->
    <!--</plugins>-->

</configuration>